@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.outside {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1876d2;
}

.header {
	font-size: 2em;
	font-family: 'Roboto';
	color: white;
}

.link {
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	display: inline-block;
	margin: 0.5em;
}
.link:hover {
	text-decoration: underline;
	font-weight: bold;
}
