@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary: #fc636b;

// nav styling
.nav {
	width: 100vw;
	max-height: 12vh;
	background-color: $primary;

	display: flex;
	justify-content: space-around;
	align-items: center;
	h1 {
		font-size: 3em;
	}

	.link-text {
		color: white;
		font-family: 'Poppins';
	}

	.links {
		.link-text {
			font-size: 1.1em;
			padding: 1em;
			text-decoration: none;
		}
		.link-text:hover {
			font-weight: bold;
		}
	}
}

// all screens
.screen {
	// this comes from total - nav
	padding: 0;
	margin: 0;

	font-family: 'Poppins';
}

// style={{display: 'flex', maxHeight: '80vh', maxWidth: '100vw', overflowY: 'hidden', overflowX: 'hidden', margin: '2em 0 2em 2em' }}
.test {
	display: flex;
	margin: auto;
	margin-top: 1em;
	width: 90vw;
	max-width: 90%;
	height: 70vh;

	overflow-x: hidden;
	// overflow-y: hidden;

	//style={{width: '45%', padding: '1rem' }}
	.left {
		margin: 0;

		.container {
			h2 {
				font-weight: normal;
				font-size: 3em;
				margin: 0;
			}

			.settings {
				font-family: 'Poppins';
				color: $primary;
			}

			.skip {
				font-family: 'Poppins';
				background-color: $primary;
			}
		}
	}
}

.profile {
	margin: 2.5vh 2vw 2.5vh 2vw;
	width: 96vw;
	max-width: 96%;
	max-height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.header {
		font-family: 'Poppins';
	}

	.note {
		font-family: 'Poppins';
	}

	.container {
		.buttons {
			margin-top: 0.7em;
		}
		.test-link {
			background-color: $primary;
			color: white;
			text-decoration: none;
		}
		.sign-out {
			background-color: $primary;
			color: white;
		}
	}
}

.signup {
	margin: 2.5vh 2vw 2.5vh 2vw;
	width: 96vw;
	max-width: 96%;
	max-height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.header {
		font-family: 'Poppins';
	}

	.note {
		font-family: 'Poppins';
	}

	.login-button {
		font-family: 'Poppins';
		font-size: 1.1em;
		color: white;
		background-color: $primary;
		margin-top: 0.7em;
	}
}
