@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary: #fc636b;
$secondary: #ffa701;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins';
}

// nav styling
.nav {
	width: 100vw;
	max-height: 12vh;
	background-color: $primary;

	display: flex;
	justify-content: space-around;
	align-items: center;
	h1 {
		font-size: 3em;
	}

	.link-text {
		color: white;
		font-family: 'Poppins';
	}

	.links {
		.link-text {
			font-size: 1.1em;
			padding: 1em;
			text-decoration: none;
		}
		.link-text:hover {
			font-weight: bold;
		}
	}
}

.test {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
	max-height: 100vh;
	overflow-y: scroll;

	.small-screen-warning {
		display: none;
	}

	.left {
		.container {
			.util-buttons {
				display: flex;
				.settings {
					background: white;
					color: $primary;
				}
				.skip {
					background: $primary;
					color: white;
				}
			}
			.problem-questions {
				.problem-q {
					font-family: 'Poppins';
					font-size: clamp(2em, 2.5em, 4em);
					font-weight: bold; // default bold bc h2
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.right {
		.container {
			.graph-container {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				margin-bottom: 5em;
				margin-top: 5em;
				max-height: 40vh;
				.graph {
					max-width: 70%;
					width: 4em;
				}
			}
		}
	}
}

.answer-choices {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr); // make this a responsive grid
		grid-gap: 1rem;

		.check {
			grid-column: 3 / span 2;
		}
	}
}

@media (max-width: 1024px) {
	// if latop size is too small
	.test {
		.left {
			display: none;
		}
		.right {
			display: none;
		}
		.small-screen-warning {
			display: initial;
			.warning {
				font-family: 'Poppins';
			}
		}
	}
}

@media (max-width: 1300px) {
	.test {
		.right {
			.container {
				.graph-container {
					align-items: center;
					margin-top: 20em;
					.graph {
						width: 60em;
					}
				}
			}
		}
	}
}

.profile {
	margin: 2.5vh 2vw 2.5vh 2vw;
	width: 96vw;
	max-width: 96%;
	max-height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.header {
		font-family: 'Poppins';
	}

	.note {
		font-family: 'Poppins';
	}

	.container {
		.buttons {
			margin-top: 0.7em;
		}
		.test-link {
			background-color: $primary;
			color: white;
			text-decoration: none;
		}
		.sign-out {
			background-color: $primary;
			color: white;
		}
	}
}

.signup {
	margin: 2.5vh 2vw 2.5vh 2vw;
	width: 96vw;
	max-width: 96%;
	max-height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.header {
		font-family: 'Poppins';
	}

	.note {
		font-family: 'Poppins';
	}

	.login-button {
		font-family: 'Poppins';
		font-size: 1.1em;
		color: white;
		background-color: $primary;
		margin-top: 0.7em;
	}
}
