@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

.nav {
  width: 100vw;
  max-height: 12vh;
  background-color: midnightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h1 {
  font-size: 3em;
}

.nav .link-text {
  color: white;
  font-family: 'Poppins';
}

.nav .link-text a {
  color: #ffa701;
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .links .link-text {
  font-size: 1.1em;
  padding: 1em;
  color: white;
}

.nav .links a {
  color: white;
  position: relative;
  height: 100%;
  text-decoration: none;
}

.nav .links a::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav .links a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.test {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  max-height: 100vh;
  overflow-y: scroll;
}

.test .small-screen-warning {
  display: none;
}

.test .left .container .util-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test .left .container .util-buttons .settings {
  background: white;
  color: midnightblue;
  font-family: 'Poppins';
}

.test .left .container .util-buttons .skip {
  font-family: 'Poppins';
  background: midnightblue;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.test .left .container .problem-questions .problem-q {
  font-family: 'Poppins';
  font-size: clamp(2em, 2.5em, 4em);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.test .left .container .problem-questions .problem-q span {
  color: #ffa701;
}

.test .left .container .problem-questions .log-in-message .message {
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
  color: gray;
}

.test .left .container .problem-questions .log-in-message .message .link {
  color: gray;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.test .left .container .problem-questions .log-in-message .message .link:hover {
  color: #ffa701;
}

.test .left .container .answer-choices .choice {
  margin: 100px;
  padding: 0;
  color: black;
  position: relative;
  z-index: 0;
  font-weight: bold;
}

.test .left .container .answer-choices a.answer-choice-text {
  width: 100%;
  border: 1px solid black;
  color: black;
  position: relative;
  z-index: 0;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Poppins';
  padding: 0.5em 1.5em;
}

.test .left .container .answer-choices a.answer-choice-text:before {
  content: '';
  inset: 0;
  background: midnightblue;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  z-index: -1;
}

.test .left .container .answer-choices a.answer-choice-text:hover::before {
  color: white;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: midnightblue;
}

.test .left .container .answer-choices a.answer-choice-text:hover {
  color: white;
}

.test .left .container .answer-choices .check {
  color: white;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: midnightblue;
}

.test .left .container .answer-choices a.check-button {
  font-size: 24px;
  width: 100%;
  font-family: 'Poppins';
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.test .left .container .answer-choices a.check-button::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.test .left .container .answer-choices a.check-button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.test .right .container .graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5em;
  margin-top: 5em;
  max-height: 40vh;
}

.test .right .container .graph-container .graph {
  max-width: 70%;
  width: 4em;
}

.answer-choices .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-left: -0.95em;
}

.answer-choices .container .check {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

@media (max-width: 1024px) {
  .test .left {
    display: none;
  }
  .test .right {
    display: none;
  }
  .test .small-screen-warning {
    display: initial;
  }
  .test .small-screen-warning .warning {
    font-family: 'Poppins';
  }
}

@media (max-width: 1300px) {
  .test .right .container .graph-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20em;
  }
  .test .right .container .graph-container .graph {
    width: 60em;
  }
}

.profile {
  margin: 2.5vh 2vw 2.5vh 2vw;
  width: 96vw;
  max-width: 96%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .header {
  font-family: 'Poppins';
}

.profile .note {
  font-family: 'Poppins';
}

.profile .container .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .container .headers .avatar {
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

.profile .container .stats .achievement {
  font-family: 'Poppins';
  margin: 1em 0;
  font-weight: normal;
  font-size: 2em;
}

.profile .container .stats .class-code {
  font-family: 'Poppins';
  margin: 1em 0;
  font-weight: normal;
  font-size: 1.5em;
  color: gray;
  margin: 0;
}

.profile .container .buttons {
  margin-top: 0.7em;
}

.profile .container .buttons .sign-out {
  margin-left: 0.3em;
}

.profile .container .test-link {
  background-color: midnightblue;
  color: white;
  text-decoration: none;
}

.profile .container .sign-out {
  background-color: midnightblue;
  color: white;
}

.signup {
  margin: 2.5vh 2vw 2.5vh 2vw;
  width: 96vw;
  max-width: 96%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup .header {
  font-family: 'Poppins';
}

.signup .note {
  font-family: 'Poppins';
}

.signup .login-button {
  font-family: 'Poppins';
  font-size: 1.1em;
  color: white;
  background-color: midnightblue;
  margin-top: 0.7em;
}
/*# sourceMappingURL=styles.css.map */