@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

.nav {
  width: 100vw;
  max-height: 12vh;
  background-color: #fc636b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h1 {
  font-size: 3em;
}

.nav .link-text {
  color: white;
  font-family: 'Poppins';
}

.nav .links .link-text {
  font-size: 1.1em;
  padding: 1em;
  text-decoration: none;
}

.nav .links .link-text:hover {
  font-weight: bold;
}

.test {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  max-height: 100vh;
  overflow-y: scroll;
}

.test .small-screen-warning {
  display: none;
}

.test .left .container .util-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test .left .container .util-buttons .settings {
  background: white;
  color: #fc636b;
}

.test .left .container .util-buttons .skip {
  background: #fc636b;
  color: white;
}

.test .left .container .problem-questions .problem-q {
  font-family: 'Poppins';
  font-size: clamp(2em, 2.5em, 4em);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.test .right .container .graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5em;
  margin-top: 5em;
  max-height: 40vh;
}

.test .right .container .graph-container .graph {
  max-width: 70%;
  width: 4em;
}

.answer-choices .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.answer-choices .container .check {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

@media (max-width: 1024px) {
  .test .left {
    display: none;
  }
  .test .right {
    display: none;
  }
  .test .small-screen-warning {
    display: initial;
  }
  .test .small-screen-warning .warning {
    font-family: 'Poppins';
  }
}

@media (max-width: 1300px) {
  .test .right .container .graph-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20em;
  }
  .test .right .container .graph-container .graph {
    width: 60em;
  }
}

.profile {
  margin: 2.5vh 2vw 2.5vh 2vw;
  width: 96vw;
  max-width: 96%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .header {
  font-family: 'Poppins';
}

.profile .note {
  font-family: 'Poppins';
}

.profile .container .buttons {
  margin-top: 0.7em;
}

.profile .container .test-link {
  background-color: #fc636b;
  color: white;
  text-decoration: none;
}

.profile .container .sign-out {
  background-color: #fc636b;
  color: white;
}

.signup {
  margin: 2.5vh 2vw 2.5vh 2vw;
  width: 96vw;
  max-width: 96%;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup .header {
  font-family: 'Poppins';
}

.signup .note {
  font-family: 'Poppins';
}

.signup .login-button {
  font-family: 'Poppins';
  font-size: 1.1em;
  color: white;
  background-color: #fc636b;
  margin-top: 0.7em;
}
/*# sourceMappingURL=styles.css.map */